<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <h1> Hello Template </h1>
    <!-- %= is used for printing the data or getting output -->
    <!-- If we want to print data -->
    <h2> EJS  <%= data %> </h2>
<!-- % is used for looping when we want to get the data but did not want the output on the screen-->
    <!-- If we want to loop through array -->
    <ul>
        <% data.forEach((curr)=>{ %>
            <li> <%= curr.content %> </li>
        <% })%>
    </ul>
       <% if(msg){ %>
           <div> <%= msg %> </div>
      <%  } %>

    <form action="/create" method="post">
        <input type="text" name="todos" placeholder="text"/> <br/>
        <button type="submit">submit</button>
    </form>
    <script src="/js/script.js"></script>
</body>
</html>